/**
 * Animations
 */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes pulse {
    from { transform: scale3d(1, 1, 1); }
    50% { transform: scale3d(1.05, 1.05, 1.05); }
    to { transform: scale3d(1, 1, 1); }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% { transform: scale3d(1.05, 1.05, 1.05); }
    40% { transform: scale3d(.9, .9, .9); }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% { transform: scale3d(.97, .97, .97); }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes flashText {
    0% { color: $brand-white; }
    50% { color: rgba($brand-white, 0); }
    100% { color: $brand-white; }
}

.pulse { animation: pulse .5s linear; }
.bounce-in { animation: bounceIn 1s linear; }
.flash-text { animation: flashText 1s infinite; }
.flash-text--slow { animation-duration: 2s; }
.fade-in { animation: fadeIn .25s linear; }