/* ==========================================================================
   Global variables
   ========================================================================== */
/* Brand
-------------------------------------------------------------- */
/* Spacing
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Grid
-------------------------------------------------------------- */
/* Z-index
-------------------------------------------------------------- */
/*
* Mixin name: Clearfix
* Use: Clearing floats
* Notes: For modern browsers
1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document.
   Otherwise it causes space to appear at the top and bottom of elements that are clearfixed.
2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements.

Source: http://nicolasgallagher.com/micro-clearfix-hack/
-------------------------------------------------------------- */
/*
* Mixin name: Guttering
* Use: Controlling the spacing at the bottom of a module
* Notes: http://css-tricks.com/spacing-the-bottom-of-modules/
-------------------------------------------------------------- */
/*
* Mixin name: On interaction
* Use: Applying same styling to hover,active and focus states
* Notes: N/A
-------------------------------------------------------------- */
/*
* Mixin name: SASS-IE
* Use: Media query handling
* Notes: See http://jakearchibald.github.io/sass-ie/
-------------------------------------------------------------- */
/*
* Mixin name: Vertical align
* Use: Vertical align within a fixed height parent (requires relative positioning)
* Notes: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
-------------------------------------------------------------- */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #1b1b1b;
  color: #fff; }
  @media (max-width: 769px) {
    body {
      font-size: 1.4rem; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1.6rem; }
  h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small,
  .h1 small,
  .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small {
    font-weight: normal;
    line-height: 1; }

h1 small, h1 .small, .as-h1 small, .as-h1 .small,
h2 small,
h2 .small, .as-h2 small, .as-h2 .small,
h3 small,
h3 .small, .as-h3 small, .as-h3 .small {
  font-size: 65%; }

h4 small, h4 .small, .as-h4 small, .as-h4 .small,
h5 small,
h5 .small, .as-h5 small, .as-h5 .small,
h6 small,
h6 .small, .as-h6 small, .as-h6 .small {
  font-size: 75%; }

h1, .as-h1 {
  font-size: 3.4rem; }
  @media (max-width: 769px) {
    h1, .as-h1 {
      font-size: 2.6rem; } }

h2, .as-h2 {
  font-size: 2.6rem; }
  @media (max-width: 769px) {
    h2, .as-h2 {
      font-size: 2rem; } }

h3, .as-h3 {
  font-size: 2rem; }
  @media (max-width: 769px) {
    h3, .as-h3 {
      font-size: 1.8rem; } }

h4, .as-h4 {
  font-size: 1.8rem; }
  @media (max-width: 769px) {
    h4, .as-h4 {
      font-size: 1.6rem; } }

h5, .as-h5 {
  font-size: 1.6rem; }
  @media (max-width: 769px) {
    h5, .as-h5 {
      font-size: 1.6rem; } }

h6, .as-h6 {
  font-size: 1.6rem; }

a {
  text-decoration: none;
  -webkit-transition: .15s color ease-in-out;
  transition: .15s color ease-in-out;
  color: #fff;
  font-weight: bold; }
  a:hover, a:active, a:focus {
    color: #f2f2f2; }
  a:hover {
    text-decoration: underline; }

p, ul, ol, dl, hr, form, table, blockquote, pre {
  margin-top: 0;
  margin-bottom: 2.4rem; }

hr {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  border: 0;
  border-top: 1px solid #eaeaea; }

small, .small {
  font-size: 85%; }
  @media (max-width: 479px) {
    small, .small {
      font-size: 90%; } }

.smaller {
  font-size: 90%; }
  @media (max-width: 479px) {
    .smaller {
      font-size: 95%; } }

strong, .strong {
  font-weight: 600; }

.stronger {
  font-weight: 500; }

.disabled, .disabled:hover {
  color: #444;
  text-decoration: none;
  cursor: not-allowed; }

cite {
  font-style: normal; }

address {
  margin-bottom: 2.4rem;
  font-style: italic;
  line-height: 1.6; }

/*
* Name: Lists
* Notes: N/A
-------------------------------------------------------------- */
ul,
ol {
  margin-top: 0;
  margin-bottom: 1.2rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

ol {
  counter-reset: top sub subsub;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1.2rem; }
  ol li {
    margin-bottom: 1.2rem; }
    ol li:before {
      counter-increment: top;
      content: counter(top) ": ";
      font-weight: bold; }
  ol ol {
    margin-top: 1.2rem;
    padding-left: 1em;
    counter-reset: sub; }
    ol ol ol {
      padding-left: 2em;
      counter-reset: subsub; }
      ol ol ol li:before {
        counter-increment: sub;
        content: counter(top) "." counter(sub) ": "; }
      ol ol ol ol li:before {
        counter-increment: subsub;
        content: counter(top) "." counter(sub) "." counter(subsub) ": "; }

.list-unstyled, .list-inline {
  padding-left: 0;
  padding-bottom: 0;
  margin-left: 0;
  list-style: none; }
  .list-unstyled li:before, .list-inline li:before {
    content: none; }

.list-inline {
  margin-top: -5px; }
  .list-inline > li {
    display: inline-block;
    margin-right: 1.4rem;
    margin-top: 5px; }
    .list-inline > li:last-child {
      margin-right: 0; }

.list-inline--divided li:after {
  content: "|";
  margin-left: 1.2rem; }

.list-inline--divided li:last-child:after {
  content: none; }

.list-inline--blocked {
  display: block;
  width: 100%; }

.list-inline--fluid {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0; }
  .list-inline--fluid > li {
    display: table-cell; }

/**
 * Header
 */
.header {
  height: 50px;
  background-color: #222;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  will-change: transform;
  overflow: hidden; }
  @media (max-width: 769px) {
    .header {
      position: relative; } }

.header__controls {
  position: absolute;
  right: 0;
  top: 0; }

.header__input {
  text-overflow: '';
  text-indent: 0.01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #fff; }

.header__input--select {
  background-position: right center;
  background-size: 1rem;
  background-image: url("assets/images/arrow.svg");
  background-repeat: no-repeat;
  padding: 0 2.4rem 0 1.2rem; }
  .header__input--select:focus {
    outline: none; }

.header__input--absolute {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute; }

.header__input--left {
  right: 0; }

.header__input--right {
  right: 0; }

.header__input--push-left {
  left: 1rem; }

.header__input--push-right {
  right: 1rem; }

.header__input--btn {
  color: white;
  padding: 0 2.4rem;
  border-left: 1px solid #090909; }
  .header__input--btn:focus {
    outline: 0; }

/**
 * Window
 */
.window__container {
  position: relative;
  max-width: 40em;
  margin: auto; }
  @media (max-width: 769px) {
    .window__container {
      padding-top: 2.4rem; } }

.window__outer {
  display: table;
  table-layout: fixed;
  text-align: center;
  height: auto;
  width: 100%; }
  @media (min-width: 770px) {
    .window__outer {
      height: 100%; } }

.window__inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 12rem 2.4rem; }
  @media (max-width: 769px) {
    .window__inner {
      padding: 2.4rem 2.4rem 0; } }

.window__focus {
  -webkit-appearance: none;
  border: 0;
  background-color: transparent;
  font-size: 20rem;
  color: white;
  margin: 0 auto 2.4rem; }
  @media (max-width: 769px) {
    .window__focus {
      font-size: 10rem; } }

.window__focus--sm {
  font-size: 10rem; }
  @media (max-width: 769px) {
    .window__focus--sm {
      font-size: 4rem; } }

.window__form-control {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 1.2rem 2rem;
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  border-radius: 10em;
  color: #222;
  box-shadow: 0px 0px 100px 5px rgba(255, 255, 255, 0.25); }
  @media (max-width: 769px) {
    .window__form-control {
      max-width: 200px; } }
  .window__form-control:focus {
    outline: none; }

.window__form-control--push {
  margin: 4.8rem 0; }
  @media (max-width: 769px) {
    .window__form-control--push {
      margin: 2.4rem 0; } }

.window__form-control--wide {
  max-width: 320px; }

/**
 * Bubble
 */
.bubble {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  will-change: transform; }
  .bubble:before, .bubble:after {
    content: "";
    position: absolute; }
  .bubble:before {
    width: 100%;
    height: 100%;
    background-image: -webkit-radial-gradient(50% 0%, ellipse, transparent, rgba(0, 0, 0, 0.1));
    background-image: radial-gradient(ellipse at 50% 0%, transparent, rgba(0, 0, 0, 0.1));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 85%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 85%);
    bottom: 2.5%;
    border-radius: 50%; }
  .bubble:after {
    top: 5px;
    width: 55%;
    height: 30%;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
    left: 22.5%;
    border-radius: 50%; }
  .bubble > *:last-child,
  .bubble > *:last-child > *:last-child,
  .bubble > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

.bubble--lg {
  width: 40rem;
  height: 40rem; }
  .bubble--lg .bubble__desc {
    font-size: 1.6rem; }
  @media (max-width: 769px) {
    .bubble--lg {
      width: 25rem;
      height: 25rem; }
      .bubble--lg .bubble__desc {
        font-size: 1.4rem; } }

.bubble--sm {
  width: 10rem;
  height: 10rem;
  font-size: 2.2rem; }
  .bubble--sm:before {
    bottom: 5%; }
  .bubble--sm:after {
    top: 2.5px; }
  .bubble--sm .bubble__desc {
    font-size: 1.4rem; }
  @media (max-width: 769px) {
    .bubble--sm {
      width: 8rem;
      height: 8rem;
      font-size: 1.8rem; }
      .bubble--sm .bubble__desc {
        font-size: 1.2rem; } }

.bubble--timer {
  background-color: rgba(239, 47, 47, 0.85);
  position: absolute;
  right: 18%; }
  @media (max-width: 769px) {
    .bubble--timer {
      right: 22%; } }
  @media (max-width: 479px) {
    .bubble--timer {
      margin-top: -1.2rem;
      right: 15%; } }

.bubble--score {
  background-color: rgba(0, 175, 22, 0.85);
  position: absolute;
  left: 22.5%;
  margin-top: -5%; }
  @media (max-width: 769px) {
    .bubble--score {
      left: 30%; } }
  @media (max-width: 479px) {
    .bubble--score {
      left: 20%; } }

.bubble--personalbest {
  background-color: rgba(233, 30, 99, 0.85);
  position: absolute;
  left: 12%;
  margin-top: 2.4rem; }
  @media (max-width: 769px) {
    .bubble--personalbest {
      left: 18%; } }
  @media (max-width: 479px) {
    .bubble--personalbest {
      left: 8%; } }

.bubble--focus {
  background-color: #1e88ff;
  z-index: -1; }

.bubble--input {
  padding: 1.2rem 2rem;
  -webkit-appearance: none;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 10rem;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
  @media (max-width: 769px) {
    .bubble--input {
      padding: 0.96rem 2rem;
      font-size: 1.4rem; } }
  .bubble--input:hover {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
  .bubble--input:before {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 10rem; }
  .bubble--input:after {
    top: 2.5px;
    width: 90%;
    height: 20px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
    left: 5%;
    border-radius: 10rem; }

.bubble__inner {
  display: table-cell;
  vertical-align: middle; }

.bubble__inner--pad {
  padding: 2.4rem; }

.bubble__title {
  line-height: 1;
  -webkit-appearance: none;
  border: 0;
  background-color: transparent;
  font-size: 12rem;
  font-weight: bold;
  color: #fff;
  margin: auto;
  top: -.25rem;
  position: relative; }
  @media (max-width: 769px) {
    .bubble__title {
      font-size: 8rem; } }

.bubble__desc {
  line-height: 1.4;
  margin-bottom: 0; }

.bubble__desc--offset-top {
  position: absolute;
  top: 20%; }

.bubble__desc--offset-bottom {
  position: absolute;
  top: 70%; }

.bubble__desc--constrained {
  position: absolute;
  width: 60%;
  margin: auto;
  display: block;
  left: 20%; }

/**
 * Animations
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes flashText {
  0% {
    color: #fff; }
  50% {
    color: rgba(255, 255, 255, 0); }
  100% {
    color: #fff; } }

@keyframes flashText {
  0% {
    color: #fff; }
  50% {
    color: rgba(255, 255, 255, 0); }
  100% {
    color: #fff; } }

.pulse {
  -webkit-animation: pulse .5s linear;
          animation: pulse .5s linear; }

.bounce-in {
  -webkit-animation: bounceIn 1s linear;
          animation: bounceIn 1s linear; }

.flash-text {
  -webkit-animation: flashText 1s infinite;
          animation: flashText 1s infinite; }

.flash-text--slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

.fade-in {
  -webkit-animation: fadeIn .25s linear;
          animation: fadeIn .25s linear; }

.disabled, .is-disabled, fieldset[disabled] {
  cursor: not-allowed; }

.contained {
  position: relative; }

.kill-scroll {
  overflow: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hide, .hidden {
  display: none !important; }

.show {
  display: block !important; }

.invisible, .hidden {
  visibility: hidden !important; }

.guttering > *:last-child,
.guttering > *:last-child > *:last-child,
.guttering > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.push {
  margin: 2.4rem !important; }

.push-left {
  margin-left: 2.4rem !important; }

.push-right {
  margin-right: 2.4rem !important; }

.push-bottom {
  margin-bottom: 2.4rem !important; }

.push-top {
  margin-top: 2.4rem !important; }

.nudge {
  margin: 0.8rem !important; }

.nudge-left {
  margin-left: 0.8rem !important; }

.nudge-right {
  margin-right: 0.8rem !important; }

.nudge-bottom {
  margin-bottom: 0.8rem !important; }

.nudge-top {
  margin-top: 0.8rem !important; }

.zero {
  margin: 0 !important; }

.zero-top {
  margin-top: 0 !important; }

.zero-bottom {
  margin-bottom: 0 !important; }

.zero-left {
  margin-left: 0 !important; }

.zero-right {
  margin-right: 0 !important; }

.zero-pad {
  padding: 0 !important; }

.zero-pad-bottom {
  padding-bottom: 0 !important; }

.zero-pad-top {
  padding-top: 0 !important; }

.zero-pad-left {
  padding-left: 0 !important; }

.zero-pad-right {
  padding-right: 0 !important; }

.zero-border-bottom {
  border-bottom: 0 !important; }

.zero-border-top {
  border-top: 0 !important; }

.zero-border-left {
  border-left: 0 !important; }

.zero-border-right {
  border-right: 0 !important; }

.interaction {
  cursor: pointer; }

.no-interaction {
  cursor: default; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

@media (max-width: 769px) {
  .text-right-max-xs {
    text-align: right; } }

@media (min-width: 770px) {
  .text-right-min-sm {
    text-align: right; } }

.text-light {
  font-weight: lighter; }

.text-normal {
  font-weight: normal; }

.text-strong {
  font-weight: bold; }

.text-capitalise {
  text-transform: capitalize; }

.text-linethrough {
  text-decoration: line-through; }

.keyline-top {
  border-top: 1px solid #eaeaea; }

.keyline-bottom {
  border-bottom: 1px solid #eaeaea; }

.keyline-right {
  border-right: 1px solid #eaeaea; }

.keyline-left {
  border-left: 1px solid #eaeaea; }

.zero-keyline {
  border: 0 !important; }

.zero-keyline-top {
  border-top: none !important; }

.zero-keyline-bottom {
  border-bottom: none !important; }

.zero-keyline-right {
  border-right: none !important; }

.zero-keyline-left {
  border-left: none !important; }

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.no-decoration:hover, .no-decoration:focus {
  text-decoration: none; }

.no-interaction:hover, .no-interaction:focus {
  color: inherit !important; }
